<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>添加笔记项目</title>
		<link rel="stylesheet" type="text/css" href="css/new_file.css"/>
	</head>
	<body>
		<div id="app">
			<h1>Note App_Vue.js</h1>
			<p><a @click="clicka">添加笔记</a></p>
			<dom v-for="(list,index) in lists" v-bind:doma="list" v-bind:key="index"></dom>
		    <div v-if="!lists.length" style="margin-left: 100px;color: saddlebrown;">当前没有笔记，请点击添加笔记！</div>
		</div>
	</body>
	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.22.1/locale/zh-cn.js"></script>
	<script src="https://cdn.bootcss.com/autosize.js/4.0.2/autosize.min.js"></script>
	<script src="js/new_file.js" type="text/javascript" charset="utf-8"></script>
</html>
